/*======================= Header ============================================ */
.navbar-default{
  background-color: $tint-1;
  border-color: transparent;
  border-radius: 0;
  .navbar-nav{
    li{
      a{
        color:$orange;
      }
    }
  }
}
.navbar{
  min-height:60px;
  z-index: 9999;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: transparent;
  color: #fff;
}
.navbar-brand{
  padding: 10px 40px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}
.navbar-header{
  height:20vh;
}
.nav-line{
  display: block;
  position: relative;
  top:-20px;
  width: 100%;
  height: 1vh;
  border-bottom: solid 2px $tint-1;
  background-color: transparent;
  z-index: 9999;
}
.flex{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.phone{
  float:left;
  //margin-left: 22px;
  p{
    color: #fff;
    margin: 11px 0 0 0;
    font-size: 11px;
    line-height: 1;
  }
  a{
    color: #fff;
    font-size: 26px;
    line-height: 1.3;
    text-decoration: none;
    &:hover{
      color: $orange;
    }
  }
}
.hours{
  float:left;
  margin: 10px 0 0 15px;
  P{
    color: #fff;
    font-size: 11px;
    line-height: 1.1;
  }
}
#hp-hero{
  height: 100vh;
}
.carousel-inner{
  height: 80vh;
  top:-27px;
  z-index: 99;
}
#mainPhoto{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 330px;
  top:-229px;
}
#heroSection{
  height:150px;
  h1{
    position: relative;
    top:200px;
    text-align: center;
    color:$orange;
    font-weight: 900;
  }
  p{
    position: relative;
    top:200px;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }
}
.home{
  #mainPhoto{
    top:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -194px;
    height: 100vh;
  }
}
.caption-wrapper {
    position: relative;
    top: -530px;
    width: 75%;
    margin: 0 auto;
    .caption{
      h1{
        color:$orange;
        text-align: center;
        font-weight: 900;
      }
      h3{
        color: #fff;
        text-align: center;
      }
    }
}

a.btn-main{
  @extend .button;
  text-decoration: none;
  &:hover{
    border:1px solid $tan;
    color: $tan;

  }
}
.carousel-control{
  top:initial;
  left:auto;
  z-index: 9999;
  height: 50px;
  width: 20px;
  opacity: .8;
  bottom:30px;
  .glyphicon-chevron-left, .glyphicon-chevron-right {
     background-color: $dark-brown;
     background-image: none;
     height:60px;
     width: 30px;
     padding-top:22px;
     font-size: 15px;
     font-weight: 500;
  }

}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  top:initial;
}
.carousel-control.left{
  background-image: none;
  margin-left: 20px;
}
.carousel-control.right{
  background-image: none;
  right:auto;
  margin-left: 64px;
}
#scrollDown {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  .glyphicon {
      font-weight: 700;
      display: block;
      font-size: 27px;
      color: #fff;
  }
}
.sliderButtons{
  display: block;
  width: 100%;
  height:50px;
  z-index: 9999;
  position: absolute;
  bottom: -48px;
  left:0;
  .left{
    position: relative;
    bottom:127px;
    float: right;
  }
  .right{
    position: relative;
    bottom:127px;
    float: left;
  }
}
.in{
  background-color: $dark-brown;
}
