/*================================= Main SCSS ================================================*/

#finance{
  background-color: $dark-brown;
  color:$orange;
  .leftFinance{
    text-align: right;
    padding-right: 0;
    margin-top: 25px;
    margin-bottom: 30px;
    h2{
      font-size: 45px;
      margin:0 0 0 0;
    }
  }
  .rightFinance{
    text-align: left;
    padding-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;

    h3{
      padding: 0;
      margin:0 0 0 0;
      font-size: 24px;

    }
    h4{
      padding: 0;
      margin:0;
      font-size: 9px;
    }
  }
}
#aboutHomeSection{
  background-color: #fff;
  padding: 20px;
  .aboutContent{
    h2{
      color: $orange;
      font-weight: 900;
    }
    p{
      color: $dark-brown;
    }
  }

}
.aboutIcons{
  h2{
    color: $dark-brown;
    font-weight: 700;
  }
  .icons{
    display: block;
    min-height: 200px;
  }
  .spriteBox{
    display: block;
    width:125px;
    margin:0 auto;
    a{
      text-decoration: none;

    }

    .spriteText{
      display: block;
      color: $dark-brown;
      position: relative;
      top: 150px;
      text-align: center;
      font-size: 18px;
      &:hover{
        color: $orange;
      }
    }
  }
  .sprite-1{
    background: url(./images/learn-more-sprite-125.png);
    background-position-y: -130.5px;
    background-repeat: no-repeat;
    &:hover{
      background-position-y: 0;
    }
    @extend .sprite;

  }
  .sprite-2{
    background: url(./images/tile-sprite.png);
    background-position-y: -130.5px;
    background-repeat: no-repeat;
    &:hover{
      background-position-y: 0;
    }
    @extend .sprite;

  }
  .sprite-3{
    background: url(./images/grout-sprite.png);
    background-position-y: -130.5px;
    background-repeat: no-repeat;
    &:hover{
      background-position-y: 0;
    }
    @extend .sprite;

  }

.sprite-4{
  background: url(./images/ruler-sprite.png);
  background-position-y: -130.5px;
  background-repeat: no-repeat;
  &:hover{
    background-position-y: 0;
  }
  @extend .sprite;

  }
.sprite-5{
  background: url(./images/phone-sprite-1.png);
  background-position-y: -130.5px;
  background-repeat: no-repeat;
  &:hover{
    background-position-y: 0;
  }
  @extend .sprite;

  }
}
#selections{
  background: url(./images/selections-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x:-127px;
}
.selectionList{
  padding: 60px 0px;
  ul{
    list-style: none;
    li{
      a{
        color: $orange;
        font-size: 20px;
        text-decoration: none;
        &:hover{
          color:$tint-2;
        }
      }
    }
  }
  a.btn-main{
    @extend .button-tan;
    text-decoration: none;
    &:hover{
      color: #fff;
      border-color: #fff;
    }
  }
}
#brands{
  background-color: $dark-brown;
  h2{
    color: $orange;
    text-align: center;
  }
}
.grid{
  padding:20px
}
.grid-item {
  width: 180px;
  padding:20px;
  img{
    display: block;
    margin: 10px auto;
    width: 180px;
    &:hover{
      width:200px;
    }
  }
}
.reviewHeader{
  h2{
    color:$dark-brown;
    padding: 0 0 0 0;
    margin: 20px 0 0 0;
    font-size: 22px;
  }
  p{
    color: $grey;
    padding-bottom: 20px;
    font-size: 12px;
  }
}
.facebookLink{
  a.btn-main{
    @extend .button-facebook;
    text-decoration: none;
    &:hover{
      border: 1px solid $facebook-blue;
      color: $facebook-blue;
      background-color: #fff;
    }
  }
}
.facebookWidgetArea{
  overflow-y: scroll;
  max-height:150px;
}
.contact-form{
  background-color: $light-tan;
  h2{
    background-color: $orange;
    color: $dark-brown;
    font-weight: 800;
    text-align: center;
    padding: 20px;
  }
  .form-control{
    border:none;
    box-shadow: none;
    color: $dark-brown;
    border-bottom: 1px solid $dark-brown;
    border-radius:0;
    background-color: transparent;
  }
  ::placeholder {
   color:$dark-brown;
  }
  input.wpcf7-form-control.wpcf7-submit{
    display: block;
    background-color: transparent;
    margin: 0 auto;
    border: 1px solid $dark-brown;
    padding: 4px;
  }
}
.facebookPlugin{
  display: block;
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
    padding-top: 35px;

}

.contactInfo{
  ul{
    list-style: none;
    padding-top:40px;
    li{
      padding: 20px 0;
      height:100px;
      a{
        color: $dark-brown;
        font-size: 18px;
        span{
          float: left;
        }
        .mailIcon{
          background: url(./images/mail-icon-sprite-1.png);
          background-repeat: no-repeat;
          width: 46px;
          height: 44.5px;
          display: block;
          //float: left;
          margin-right: 20px;
          &:hover{
            background-position-y:-44.5px;
          }
        }
        .phoneIcon{
          background: url(./images/phone-icon-sprite-1.png);
          background-repeat: no-repeat;
          width: 46px;
          height: 44.5px;
          display: block;
          //float: left;
          margin-right: 20px;
          &:hover{
            background-position-y:-44.5px;
          }
        }
        .mapIcon{
          background: url(./images/map-icon-sprite-1.png);
          background-repeat: no-repeat;
          width: 46px;
          height: 44.5px;
          display: block;
          //float: left;
          margin-right: 20px;
          &:hover{
            background-position-y:-44.5px;
          }
        }
        .shopIcon{
          background: url(./images/shop-icon-sprite-1.png);
          background-repeat: no-repeat;
          width: 46px;
          height: 44.5px;
          display: block;
          //float: left;
          margin-right: 20px;
          &:hover{
            background-position-y:-44.5px;
          }
        }
      }
    }
  }
}
.iconBackground{
  display: inline-block;
  background-color: $light-tan;
  width: 100%;
  padding-bottom: 40px;

}
#aboutIconArea{
  .scrollDown{
    .glyphicon{
      color: $dark-brown;
      width: 36px;
      margin: 0 auto;
      display: block;
      font-size: 36px;
      top: -46px;
    }
  }
  a{
    text-decoration: none;
  }
}
#video{
  margin-top: -40px;
  background-color: $dark-brown;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.videoLeft{
  display: block;
}
.videoRight{
  display: block;
  padding-top:30px;
  color: $orange;
  text-align: center;

  h2{
    font-size: 150px;
    padding: 0;
    margin:0;
    font-weight: 900;
    line-height: 1;
  }
  h3{
    font-size: 40px;
    padding: 0;
    margin:0;
    font-weight: 700;
  }
  h4{
    font-size: 20px;
    padding: 0;
    margin:0;
  }
}
.page-id-17{
  #mainPhoto{
    height:380px;
  }
  #heroSection{
    h1{
      color: #fff;
      top:250px;
    }
  }
}
#contactInfo{
  display: block;
  background: url(./images/map-background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 34px;
}
#contact-2{
  .reviewHeader{
    margin-top: 40px;
  }
  .facebookLink{
    margin-top: 40px;
  }
}
#followUs{
  h2{
    text-align: center;
    font-weight: 900;
    padding: 0;
    margin: 0;
  }
  .twitter{
    display: block;
    float: left;
    background-image: url(./images/twitter-sprite-1.png);
    background-repeat: no-repeat;
    background-position-y:-50px;
    height:50px;
    width:50px;
    margin: 15px 10px 0 0;
    &:hover{
      background-position-y:0px;
    }
  }
  .instagram{
    display: block;
    float: left;
    background-image: url(./images/instagram-sprite-1.png);
    background-repeat: no-repeat;
    background-position-y:-50px;
    height:50px;
    width:50px;
    margin: 15px 10px 0 0;
    &:hover{
      background-position-y:0px;
    }
  }
  .linkedIn{
    display: block;
    float: left;
    background-image: url(./images/linkedIn-sprite-1.png);
    background-repeat: no-repeat;
    background-position-y:-50px;
    height:50px;
    width:50px;
    margin: 15px 10px 0 0;
    &:hover{
      background-position-y:0px;
    }
  }
  .facebook{
    display: block;
    float: left;
    background-image: url(./images/facebook-sprite-1.png);
    background-repeat: no-repeat;
    background-position-y:-50px;
    height:50px;
    width:50px;
    margin: 15px 0px 0 0;
    &:hover{
      background-position-y:0px;
    }
  }
  .socialLinks{
    display: block;
    width: 230px;
    margin: 0 auto;
    height: 85px;
  }
}
