/* responsive settings */
$screen-xl-min: 1600px;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 424px;
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */
/* Small devices (tablets, 424px and up) ====================================================================================================*/
@media (min-width: $screen-xs-min) {
  #selections{
    background-position-x: 0;
  }


}
/* Small devices (tablets, 768px and up) ====================================================================================================*/
@media (min-width: $screen-sm-min) {
  .navbar-brand{
    padding:5px 20px;
    img{
      height: 30px;
    }
  }
  .flex{
    display: block;
    float:left;
    width: initial;
    position: relative;
    left:40px;
  }
  .phone{
    p{
      font-size: 8px;
    }
    a{
      font-size: 11px;
    }
  }
  .nav{
    position: relative;
    top:15px;
    li{

      a{
        padding:10px 6px;
        font-size: 10px;
      }
    }
  }
  .navbar-header{
    height:8vh;
  }
  .home{
    #mainPhoto{
      background-position-x: 0px;
    }
  }
  .carousel-inner{
    height: 92vh;
  }
  .sliderButtons{
    bottom: 100px;
    a.btn-main{
      width:180px;
      font-size: 15px;
    }
  }
  #finance{
    .leftFinance{
      h2{
        font-size: 70px;
        font-weight: 900;
      }
    }
    .rightFinance{
      h3{
        font-size: 40px;
        font-weight: 900;
      }
      h4{
        font-size: 19px;
      }
    }
  }
}
/* Medium devices (desktops, 992px and up) ==================================================================================================*/
@media (min-width: $screen-md-min) {
  .navbar-brand{
    img{
      height:40px;
    }
  }
  .phone{
    p{
      font-size: 10px;
    }
    a{
      font-size: 24px;
    }
  }
  .flex{
    left:80px;
  }
  .nav{
    top:5px;
    padding-left:0px;
    li{
      a{
        padding: 20px 11px;
        font-size: 14px;
      }
    }
  }
  .sliderButtons{
    a.btn-main{
      width:220px;
      font-size: 18px;
      font-weight: 600;
      border: 2px solid #fff;
    }
  }
  #finance{
    .leftFinance{
      h2{
        font-size: 130px;
      }
    }
    .rightFinance{
      h3{
        font-size:72px;
      }
      h4{
        font-size: 35px;
      }
    }
  }
  .selectionList{
    ul{
      li{
        a{
          font-size: 32px;
          font-weight: 600;
        }
      }
    }
    a.btn-main{
      border:2px solid $tan;
      width: 200px;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
/* Large devices (large desktops, 1200px and up)============================================================================================ */
@media (min-width: $screen-lg-min) {
  .nav{
    padding-left:80px;
  }
  .selectionList{
    ul{
      li{
        a{
          font-size: 42px;
        }
      }
    }
    a.btn-main{
      width: 240px;
      font-size: 18px;
    }
  }
  #brands{
    h2{
      font-size: 32px;
    }
  }
}
/* Large devices (large desktops, 1600px and up)============================================================================================ */
@media (min-width: $screen-xl-min) {

}
