/*=========================== Variables ======================================*/

/*================ Colors =====================*/
$tint-1:rgba(33, 29, 30, .8);
$orange:rgb(244, 131, 33);
$background-brown:rgb(127, 107, 102);
$dark-brown:rgb(33, 29, 30);
$tan:rgb(225, 202, 162);
