/*=========================== Variables ======================================*/

/*================ Colors =====================*/
$tint-1:rgba(33, 29, 30, .8);
$tint-2:rgba(244, 131, 33, .5);
$orange:rgb(244, 131, 33);
$background-brown:rgb(127, 107, 102);
$dark-brown:rgb(33, 29, 30);
$tan:rgb(225, 202, 162);
$facebook-blue:rgb(88, 129, 193);
$grey:rgb(147, 147, 147);
$light-tan:rgb(237, 237, 239);
$footer-color:rgb(62, 57, 52);
